/*Basic fonts/background for entire body of page */
body {
  margin: 0;
  font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #345EEB;
  text-align: center;
  line-height: 200%;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.73'%3E%3Cpath fill='%23fafafa' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23f5f5f5' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23f1f1f1' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23ececec' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23E7E7E7' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23ececec' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23f1f1f1' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23f5f5f5' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fafafa' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23FFFFFF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

hr {
  border: 2px solid #345EEB;
  margin: 8%;
}

img {
  height: 300px;
  width: auto;
}

strong {
  color: #345EEB;
  /*text-decoration: underline;*/
}

/*-------------------------------------------------------------------------------*/
/*Top navigation basic styling */
.topnav {
  overflow: hidden;
  background-color: white;
  /*rgba(255, 255, 255, 0);*/
  /*backdrop-filter: blur(10px); /* Blur effect */
  /*-webkit-backdrop-filter: blur(10px);*/
  position: sticky;
  top: 0px;
  box-shadow: 0px 1px 24px #345EEB;
  z-index: 1;
  font-size: 24px;
}

.topnav a {
  float: right;
  color: #345EEB;
  text-align: center;
  padding: 40px 32px;
  text-decoration: underline transparent;
  transition: text-decoration 700ms ease, padding 1s ease-in-out, width 1s ease;
}

.topnav a.home {
  background-color: white;
  /*rgba(255, 255, 255, 0);*/
  color: #345EEB;
  text-align: center;
  padding: 40px 32px;
  font-size: 24px;
}

.topnav a:hover {
  text-decoration-color: #345EEB;
}

.topnav a.active {
  text-decoration-color: #345EEB;
}

.dropdown {
  float: right;
}

.dropdown .dropbtn {
  font-size: 24px;
  border: none;
  outline: none;
  color: #345EEB;
  padding: 42px 32px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  text-decoration: underline transparent;
  transition: text-decoration 700ms ease, padding 1s ease-in-out;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  text-decoration-color: #345EEB;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.dropdown-content a {
  float: none;
  color: #345EEB;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 20px;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #345EEB;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.fa {
  transition: transform 500ms;
}

.dropdown:hover .fa {
  transform: rotate(-180deg);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.header-icon {
  height: 29px;
  vertical-align: middle;
  padding-right: 25px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 1200px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    transition: all 800ms ease-in-out;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 1200px) {
  .topnav.responsive {
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw; /*Have to fix .home margin-left if adjusted*/
    overflow: visible;
    height: 100vh;
    background-color: rgb(54,94,235,0.4);
    backdrop-filter: blur(15px);
    
  }

  .topnav.responsive a.home {
    background-color: white;
    text-align: left;
    width: 100vw;
    padding: 24px;
    left: 0;
    margin-left: -70vw; /*A little messy, kinda have to guess and check after adjusting topnav width*/
    right: 0;
    box-shadow: 0px 1px 24px #345EEB;
    color: #345EEB;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    color: #345EEB;
    padding: 24px;
    transform: rotate(180deg)
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    right: 0;
    padding: 24px;
    color: white;
  }

  .topnav.responsive a:hover, .topnav.responsive .dropbtn:hover {
    text-decoration-color: white;
  }

  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: right;
    padding: 24px;
    color: white;
  }

  .topnav.responsive .dropdown {
    float: none;
    text-align: right;
  }

  .topnav.responsive .dropdown-content {
    position: relative;
    text-align: right;
    box-shadow: none;
    background-color: rgb(54,94,235,0.4);
  }

  .topnav.responsive .dropdown-content a {
    text-align: left;
  }

  .topnav.responsive .dropdown-content a:hover {
    background-color: rgb(54,94,235,0.7);   
  }

  @media screen and (max-width: 400px) {
    .topnav.responsive .dropbtn, 
    .topnav.responsive a {
      font-size: 15px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    
    .topnav.responsive .dropdown-content a {
      font-size: 15px;
      padding: 24px;
    }
  }
}

/*-------------------------------------------------------------------------------*/
/* Footer basic styling */
.footer {
  width: 100%;
  background-color: #D7E0FF;
  color: #345EEB;
  font-size: 24px;
}

.footer-content {
  display: flex;
  width: 100%;
  text-align: left;
}

.footer-section {
  padding: 20px;
}

.left {
  width: 50%;
  border-right: 1px solid #fff;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.middle {
  width: 25%;
  text-align: left;
}

.right {
  width: 25%;
  text-align: left;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #fff;
  padding: 10px 0;
  line-height: 0px;
  margin-left: 1%;
  margin-right: 1%;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  .footer-section:last-child {
    border-bottom: none;
  }

  .footer-bottom {
    border-top: 1px solid #fff;
  }
}

.social-icon {
  color: #345eeb;
  font-size: 132%;
  text-decoration: none;
  margin: 5% 1.5% 0;
}

.social-icon:hover {
  color: #ccc;
  cursor: pointer;
}

.footer-text {
  text-align: left;
  margin-left: 20%;
  color: #345eeb;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;
}

.footer-text:hover {
  color: #637df1;
  cursor: pointer;
}

.footer-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: auto;
}


/*-------------------------------------------------------------------------------*/
/* Heading that isnt attached to top of page */
.bigtext {
  background-color: rgb(54,94,235,0.2);
  text-align: center;
  font-size: 80px;
  color: #345EEB;
  padding: 150px;
  line-height: 100%;
}

.diagtext {
  text-align: left;
  font-size: 60px;
  color: #345EEB;
  line-height: 100%;
  padding-top: 10%;
  padding-left: 10%;
}

.diag {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  width: 100%;
  height: 110%;
  background: linear-gradient(335deg, transparent 49.6%, #345EEB 0.1%, rgb(54,94,235,0.2) 50%);
}

.diagimage {
  padding-top: 30%;
  padding-left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-20%, 20%);
}


/*-------------------------------------------------------------------------------*/
/* Subheadings basic style */
h2 {
  text-align: center;
  font-size: 80px;
  color: #345EEB;
  line-height: 1.5;
  margin: 2.5%;
}

h3 {
  text-align: center;
  font-size: 50px;
  line-height: 1.2;
  color: #345EEB;
}

h4 {
  font-size: 20px;
  color: black;
}

h5 {
  font-size: 50px;
  color: #345EEB;
  margin: 5%;
}

h6 {
  font-size: 40px;
  color: #345eeb;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*-------------------------------------------------------------------------------*/
/* Paragraph basic style */
p {
  text-align: center;
  font-size: 20px;
  color: #345EEB;
  padding-left: 5%;
  padding-right: 5%;
}

.indent {
  text-indent: 10%;
  text-align: left;
}

.pgrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

/* Vertical Line
.pgrid::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #345EEB;
  z-index: 0;
}
*/

/*-------------------------------------------------------------------------------*/
/* Statistics animation */
.stats {
  display: flex;
  gap: 100px;
  justify-content: center;
}

.subcount {
  padding-top: 10%;
  font-size: 60%;
}

.circle {
  width: 50vw; /* Width set as a percentage of viewport width */
  height: 50vw; /* Height set as a percentage of viewport width to ensure it's always a circle */
  max-width: 350px; /* Maximum size */
  max-height: 350px; /* Maximum size */
  border: 3px #345EEB solid;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #345EEB;
  text-align: center;
  padding: 10px;
  font-size: 400%;
  outline: #345EEB 3px solid;
  outline-offset: -10px;
  transition: font-size 1s ease;
}

.circle:hover {
  font-size: 500%;
}


/*-------------------------------------------------------------------------------*/
/* Our team grid style */
.team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 30px;
  padding-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 768px) {
  .team {
    grid-template-columns: 1fr; /* Stacks members in a single column */
    padding-left: 5%;
    padding-right: 5%;
  }
}

.member {
  border-radius: 25px;
  border: 2px solid #345EEB;
  padding: 10px;
  transition: box-shadow 0.5s ease;
  box-shadow: 0px 0px 0px #345EEB;
}

.member:hover {
  box-shadow: 0px 1px 16px #345EEB;
}

.picture {
  border-radius: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-top: 15px;
}
/*-------------------------------------------------------------------------------*/
/* Subjects list style */
.subjects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
  padding-top: 30px;
}

.flip-box {
  width: 100%;
  height: 300px;
  perspective: 1000px;
  /* Adds perspective for 3D effect */
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* Allows for 3D transformations */
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  /* Flips the box on hover */
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  /* Hides the back of the flipped element */
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.flip-box-front {
  display: grid;
  background-color: #D7E0FF;
  place-items: center;
  text-align: center;
}

.flip-box-back {
  display: grid;
  background-color: #345EEB;
  color: white;
  transform: rotateY(180deg);
  /* Initially hidden, flipped state */
  place-items: center;
  text-align: center;
}

.flip-box-back ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

.subjects-container {
  display: none;
}

@media screen and (max-width: 1000px) {
  .subjects {
    display: none;
  }

  .subjects-container {
    display: block;
    background: #D7E0FF;
    border-radius: 10px;
    padding: 20px;
    max-width: 80%;
    margin: 20px auto;
    width: 80%;
    height: auto;
  }
  .subject-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    cursor: pointer;
  }
  .subject-item:last-child {
    border-bottom: none;
  }
  .subject-header {
    display: flex;
    align-items: center;
    font-size: 18px;
  }
  .subject-header .icon {
    margin-right: 10px;
    transition: transform 0.3s;
  }
  .subject-list {
    display: none;
    padding-left: 26px;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
  }
  .subject-item.active .subject-list {
    display: block;
  }
  .subject-item.active .subject-question .icon {
    transform: rotate(90deg);
  }
  
}


/*-------------------------------------------------------------------------------*/
/* Partners animation */
.scroller {
  max-width: 85vw;
  margin: 0 auto;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

.tag-list {
  place-content: center;
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.scroller__inner a img {
  height: 150px;
  width: auto;
  filter: grayscale(100%);
  transition: filter 0.3s;
}

.scroller__inner a img:hover {
  filter: grayscale(0%);
}


/*-------------------------------------------------------------------------------*/
/*Bio Modals*/

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

.openModal {
  font-family: inherit;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #345EEB;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 10px;
  background-color: #D7E0FF;
  color: #345EEB;
  border-radius: 15px;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}
/*------------------------------------------*/
/* FAQ Boxes */
.faq-container {
  background: #D7E0FF;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  width: 80%;
  height: auto;
}
.faq-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  cursor: pointer;
}
.faq-item:last-child {
  border-bottom: none;
}
.faq-question {
  display: flex;
  align-items: center;
  font-size: 18px;
}
.faq-question .icon {
  margin-right: 10px;
  transition: transform 0.3s;
}
.faq-answer {
  display: none;
  padding-left: 26px;
  margin-top: 10px;
  font-size: 16px;
  text-align: left;
}
.faq-item.active .faq-answer {
  display: block;
}
.faq-item.active .faq-question .icon {
  transform: rotate(90deg);
}

/*------------------------------------------*/
/* Location Window */
.location-container {
  display: flex;
  height: 100vh;
}

.location-left, .location-right {
  /*border: 2px solid red;*/
}

.location-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-button {
  width: 125px;
  height: 125px;
  border-radius: 25px;
  background-color: #D7E0FF;
  color: #345EEB;
  font-size: 14px;
  border: 0px;
  transition: all 0.4s ease-in-out;
  font-family: 'Raleway', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 5%;
}

.location-button:last-child {
  margin-bottom: 0;
}

.location-button:hover {
  color: white;
  background-color: #345EEB;
}

.location-right {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5%;
  position: relative;
}

.location-stats-image {
  width: 100%;
  height: 100%;
  padding: 5%;
  display: none; /* Hide by default */
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.location-stats-image img {
  height: 100%; /* Ensure the image fits the height of the container */
  width: auto; /* Allow the width to adjust proportionally */
  border-radius: 10px; /* Ensure the border radius is applied to the image */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.active-button {
  color: white !important;
  background-color: #345EEB !important;
}

.boston img{
  border: 5px solid rgb(17, 85, 204);
  box-sizing: border-box;
}

.newyork img{
  border: 5px solid #f1c231;
  box-sizing: border-box;
}

.chicago img{
  border: 5px solid rgb(204, 0, 0);
  box-sizing: border-box;
}

.total img{
  border: 5px solid #345eeb;
  box-sizing: border-box;
}
/* Responsive Design */
@media (max-width: 1000px) {
  .location-container {
      flex-direction: column;
      height: auto;
  }

  .location-left {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  .location-button {
      width: 100px;
      height: 100px;
      margin: 5px;
  }

  .location-right {
      width: 100%;
      padding: 0;
  }

  .location-stats-image {
      width: 100%;
      height: 500px;
      padding: 10px;
      display: none;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 5%;
      margin-right: 5%;
  }

  .location-stats-image img {
      height: 100%; /* Ensure the image fits the height of the container */
      width: auto; /* Allow the width to adjust proportionally */
      border-radius: 10px; /* Apply the same border-radius to the image */
  }
}




