/*Basic fonts and background color for entire body of page */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D7E0FF;
}

/*Top navigation basic styling */
.topnav {
  overflow: hidden;
  background-color: #D7E0FF;
}

.topnav a {
  float: left;
  color: #345EEB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a.home {
  background-color: #D7E0FF;
  color: #345EEB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
}

.topnav b {
  float: right;
  color: #345EEB;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav b:hover {
  background-color: #345EEB;
  color: white;
}

